*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#qwerty {background-color: white; margin-top: -52px;} 

html {
  font-family: sans-serif;
  line-height: 1.15; }

body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  background: #efeeeed2;
  color: rgba(255, 255, 255, 0.943); }

header, main, nav, section {
  display: block; }

.justify-content-center {
  justify-content: center !important; }


h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

a {
  color: white;
  text-decoration: none;
  background-color: transparent; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.align-items-center {
  align-items: center !important; }

.position-relative {
  position: relative !important; }
  
.text-center {
  text-align: center !important; }

.ftco-section {
  padding: 7em 0; }

.heading-section {
  font-size: 28px;
  color: #000; }

.ftco-navbar-light {
  background: #1c2938 !important;
  padding: 10px 10px;
  border-radius: 5px;
  width: inherit; }
  
.ftco-navbar-light .navbar-brand {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700; }
